.footer {
   
  background: radial-gradient(at 20% 20%, #ffe7f1, transparent 40%),
              radial-gradient(at 80% 30%, #ffd5f3, transparent 40%),
              radial-gradient(at 50% 80%, #f9b7c4, transparent 40%);
  background-color: #fff;
    color: black;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
  }
  
  .footer-icons {
    margin-top: 10px;
  }
  
  .footer-icon {
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
    color: #faaebe;
  }
  
  .footer-icon:hover {
    color: #fdcdd7; 
  }
  
  .footer-content p {
    margin: 5px 0;
  }
  
  .copyright {
    padding-top: 10px;
  }