@charset "UTF-8";

/* src/SCSS/layout/_header.scss */

body {
  font-family: "Montserrat",sans-serif;
  overflow-x: hidden ;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  width: 100vw; 
  box-sizing: border-box;
}

// Animation pour faire apparaître et disparaître le nom et prénom
@keyframes fadeInOut {
  0%, 100% {
    opacity: 1; // Pleine opacité au début et à la fin de l'animatio
  }
  50% {
    opacity: 0; // Opacité à 0 au milieu de l'animation (disparaît)
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;  
  width: 65vw;
  max-width: 1400px;
  margin: 0 auto;
}

.name-mode {
  display: flex;
  align-items: center;
}

// Nom et Prénom 
.name {
  font-family: "Allura", cursive;
  font-size: 24px;
  font-style: italic;
  margin-right: 15px;
  display: flex;
  white-space: nowrap; 
  
}

// Style pour la barre de navigation (fixée en haut)
.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  width: 65vw;
  z-index: 10;
  height: 100px;
  background-color: #fffefe;
  flex-wrap: nowrap;
}

// La liste de navigation
.navLinks {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
  
}
.burger-icon {
  display: flex;
  position: fixed;
  right: 20px; 
}

.navLinks li {
  margin: 0 15px; 
  font-family: 'Montserrat', sans-serif;
}

// Liens de navigation
.navLinks a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  position: relative; 
  padding-bottom: 5px; 
  transition: color 0.3s ease-in-out; 
}

// Animation de la barre sous le lien au survol
.navLinks a::after {
  content: ''; // Élément vide utilisé pour l'animation
  position: absolute;
  width: 0; 
  height: 2px; 
  background-color: #f7acbb; 
  bottom: 0; 
  left: 0; 
  transition: width 0.3s ease-in-out; // Transition animé
}

// Couleur active pour les liens de navigation
.navLinks a.active {
  color: #f7acbb;
}

.navLinks a.active::after {
  width: 100%; 
}

// Changement de couleur au survol des liens
.navLinks a:hover {
  color: #f7acbb;
}

.navLinks a:hover::after {
  width: 100%; }

// Animation pour chaque lettre du nom
.letter {
  display: inline-block;
  opacity: 0;
  transform: translateX(-1px); // Légère translation pour l'effet d'entrée
  animation: fadeInOut 5s ease-in-out infinite; // Animation répétée
}

// Afficher les lettres du nom avec une animation
.show-name .letter {
  opacity: 1;
  animation: fadeInLetter 0.5s forwards;  // Animation d'entrée
}

// Espacement entre les lettres
.name .space {
  display: inline-block;
  width: 0.3rem; 
  animation: none; 
}

// Bouton revenir en haut
.scroll {
  position: fixed;
  bottom: 40px; 
  right: 20px;  
  background-color: #f0f0f0;
  color: #faaebe;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 20px;
  z-index: 30;
  transition: opacity 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.scroll:hover {
  background-color: #fcedf0; 
}

.menu-btn {
  display: none;
}