/* src/SCSS/section/_presentation.scss */

// Styles pour l'introduction et les boutons
.introduction {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;     
  height: 40vh;    
  width: 65vw;   
  margin: auto;    
  padding: 0 20px;        
  box-sizing: border-box; 
  background-color: #e6d4db; 
  color: #333;    
}

.introduction h1 {
  font-size: 2rem;        
  margin-bottom: 0.5rem; 
  font-style: italic;
  font-weight: bold;
}

.introduction p {
  font-size: 1rem;         
  margin-top: 0;           
}

.intro-btn {
  margin-top: 20px;
}


.intro-btn button {
  background-color: #a567a2;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-items: center;
}

.intro-btn button:hover {
    background-color: #b997b8;
}

// Présentation détaillée de ma personne 
.presentation {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;  
  text-align: center;
  max-width: 700px;
  width: 65vw;
  margin: 0 auto;  
}

.presentation h2 {
  font-size: 40px;
}

.profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%; 
  object-fit: cover;
}

.presentation p {
  font-size: 1rem;
  margin-top: 0;
  white-space: pre-wrap;
}

h2 {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}
  
h2::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px; 
  width: 100%;
  height: 3px; 
  background-color: #a567a2; 
  transform: translateX(-100%); 
  animation: slideInOut 3s linear infinite; /* Animation de la barre */
}
  
// Animation pour les titres de chaque partie avec la barre qui défile
  @keyframes slideInOut {
    0% {
      transform: translateX(-50%); /* La barre commence à gauche */
    }
    50% {
      transform: translateX(50%); /* La barre se déplace entièrement à droite */
    }
    100% {
      transform: translateX(-50%); /* La barre revient à gauche */
    }
  }

// Séparateur
.separator {
  border: none;
  border-top: 2px solid #a567a2;  
  margin-top: 10px;   
  width: 65vw;        
}

// Styles pour les accordéons de formations et d'expériences
.accordions-container {
  display: flex;
  justify-content: center; 
  width: 100%;
  margin-top: 30px;
}

.accordions-columns {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 65vw; 
}

.accordion {
  width: 50%; 
}

.accordion h3 {
  text-align: center;
}

.accordion-item {
  margin-bottom: 10px;
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background-color: #f0f0f0;
  padding-left: 10px;
  border-radius: 5px;
  z-index: 2;
  position: relative;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-20px); 
  transition: max-height 0.6s ease, opacity 0.6s ease, transform 0.6s ease;
  background-color: #f6f6f6;
}

.accordion-content.open {
  max-height: 500px; 
  opacity: 1;
  transform: translateY(0); 
}

.accordion-content p {
  padding-left: 20px;
}

.formation-btn {
  margin-top: 10px;
  background-color: #a567a2;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 20px;
  margin-bottom: 20px;
}

.btn:hover {
  background-color: #b997b8;
}

.arrow {
  transition: transform 0.6s ease-in-out;
  color: #a567a2;
  font-size: 25px;
  padding: 15px;
  transform: rotate(0deg); 
}

.arrow.open {
  transform: rotate(180deg); 
}

.arrow:hover {
  color: #b997b8;
}

//Animation pour l'ouverture
@keyframes slideFade {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// Animation pour la fermeture
@keyframes slideFadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}