/* src/SCSS/section/_project.scss */

.project h2 {
    font-size: 40px;
    margin-bottom: 40px;
}

.project {
    display: flex;
    flex-direction: column; 
    padding: 20px;
    max-width: 100vw;
    justify-content: center;
    align-items: center;  
    text-align: center;
    width: 65vw;
}

.projects-container {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    gap: 30px;
    width: 100%; 
    max-width: 65vw; 
    box-sizing: border-box;
}

.project-card {
    position: relative;
    width: 31.25vw;     
    height: 450px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    cursor: pointer;

    &:hover {
        transform: scale(1.05); 
    }
   
}

.project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    object-position: left center;
}

.project-card:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    filter: brightness(0.8);
}
