
// Dark Mode 

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
    border:1px #121212;
  }
  
  .dark-mode .header {
    color: #ffffff;
  }
  
  .dark-mode-toggle {
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    margin-left: 20px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.6);
    border: 2px solid transparent;
    border-radius: 8px; 
  }
  
  .dark-mode-toggle:hover {
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.8); 
    transform: scale(1.05); 
  }
  
  .dark-mode-toggle:active {
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.6); 
    transform: translateY(2px);
  }
  
  body.dark-mode .navLinks a {
    color: #ffffff;
  }
  
  body.dark-mode .navLinks a:hover {
    color: #ff6347;
  }
  
  // Light Mode 
  
  body.light-mode {
    background-color: #f0f0f0; 
    color: #000000; 
  }
  
  .light-mode .header {
    color: #000000; 
  }
  
  .light-mode-toggle {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); 
    transition: box-shadow 0.3s ease, transform 0.1s ease;
  }
  
  .light-mode-toggle:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); 
  }
  
  .light-mode-toggle:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8); 
    transform: translateY(2px); 
  }
  