@charset "UTF-8";
/* src/components/style/_header.scss */

// Fade in pour l'animation du nom et prenom 
@keyframes fadeInOut {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;  
  width: 80vw;
  max-width: 1240px; 
  margin: auto;
}

.name-mode {
  display: flex;
  align-items: center;
}

// Nom et Prénom 
.name {
  font-family: "Allura", cursive;
  font-size: 24px;
  font-style: italic;
  margin-right: 15px;
  display: flex;
  overflow: hidden;
  white-space: nowrap;

}


.navbar {
  display: flex;
  align-items: center;
  width: 100%;
}

// Menu liste
.navLinks {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.navLinks li {
  margin: 0 15px; 
  font-family: 'Montserrat', sans-serif;
}

.navLinks a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  position: relative; 
  padding-bottom: 5px; 
  transition: color 0.3s ease-in-out; // Animation pour la couleur du texte
}

.navLinks a::after {
  content: '';
  position: absolute;
  width: 0; // 0 pour être animé
  height: 2px; 
  background-color: #ff6347; 
  bottom: 0; 
  left: 0; 
  transition: width 0.3s ease-in-out; // Transition animé
}

.navLinks a:hover {
  color: #ff6347;
}

.navLinks a:hover::after {
  width: 100%; }

.active {
  color: #ff6347;
  text-decoration: none;
  border-bottom: 2px solid #ff6347; 
  transition: border-bottom 0.3s ease-in-out; // Effet de transition pour la ligne 
}

.letter {
  display: inline-block;
  opacity: 0;
  transform: translateX(-1px); 
  animation: fadeInOut 5s ease-in-out infinite;
}

.show-name .letter {
  opacity: 1;
  animation: fadeInLetter 0.5s forwards;
}

.name .space {
  display: inline-block;
  width: 0.3rem; 
  animation: none; 
}
